.filter {
  width: 550px;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  box-shadow: 0 1px 1px rgb(0 0 0 / 20%), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgb(0 0 0 / 20%), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgb(0 0 0 / 20%);;
  background-color: #fff;
  color:#4d4d4d;
}

.filter button {
    border: none;
    background-color: #fff;
    color: inherit
}

.filterActive button {
    background-color: red;
    border: 1px solid #777777
}